[Unit]
Description=Kubernetes Cluster Initialization
After=kube-apiserver.service

[Service]
ExecStart=/usr/bin/kubectl create -f /etc/kubernetes/manifests/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
