[Unit]
Description=Kubernetes Cluster Initialization
After=kube-apiserver.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kubectl create -f /etc/kubernetes/manifests/

[Install]
WantedBy=multi-user.target
