[Service]
      Environment="HTTP_PROXY=$HTTP_PROXY"
      Environment="HTTPS_PROXY=$HTTPS_PROXY"
      Environment="SOCKS_PROXY=$SOCKS_PROXY"
      Environment="NO_PROXY=$NO_PROXY"
      Environment="ftp_proxy=$FTP_PROXY"
      Environment="http_proxy=$HTTP_PROXY"
      Environment="https_proxy=$HTTPS_PROXY" 
      Environment="socks_proxy=$SOCKS_PROXY"
      Environment="no_proxy=$NO_PROXY"
